altgraph==0.16.1
arrow==0.11.0
ics==0.5
macholib==1.11
modulegraph==0.17
mysql-connector==2.2.9
numpy==1.17.2
pandas==0.25.1
psycopg2-binary==2.8.3
py2app==0.19
PyInstaller==3.5
python-dateutil==2.8.0
pytz==2019.2
six==1.12.0
tk==0.1.0
